@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'vendors/bootstrap/bootstrap';
@import 'vendors/jquery-ui';

@import 'base/reset';
@import 'base/typography';
@import 'base/base';


@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'layout/stats';
@import 'layout/pricing';



@import 'components/buttons';
@import 'components/cards';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';
@import 'themes/admin';
