// Animations

@keyframes atention {
    0%{
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
        box-shadow: 0 0 5px $ballblue;
      }
    5%{
        transform:  rotate(-3deg) scaleX(1.00) scaleY(1.00)  ;
        box-shadow: 0 0 5px $ballblue;
      }
    10%{
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
      }
    15%{
        transform:  rotate(3deg) scaleX(1.00) scaleY(1.00) ;
      }
    20%{
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
      }
    25%{
        transform:  rotate(-3deg) scaleX(1.00) scaleY(1.00) ;
      }
    30%{
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00)  ;
      }
    35%{
        transform:  rotate(3deg) scaleX(1.00) scaleY(1.00) ;
      }
    40%{
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
      }
    100%{
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
      }
}

@keyframes opacidad {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}