* {
    font-family: $raleway;
    color:$raisingblack;
}

h1 {
    font-weight: $bold;
    font-size: $font-xxxxx-large;
}

h2 {
    font-weight: $bold;
    font-size: $font-xxx-large;
}

h3 {
    font-weight: $bold;
    font-size: $font-x-large;
}

h4 {
    font-weight: $regular;
    font-size: $font-x-large;
}