// Colores

$white:#FFF;
$platinum:#E8E8E8;
$gray:#BABABA;

$darksalmon:#EE9480;
$melon:#F4BAAE;
$palepink:#FADFDA;

$ballblue:#2AB7CA;
$middleblue:#77D1DD;
$bluelagoon:#B1E4EB;

$onyx:#333745;
$spanishgray:#8F9199;
$lavendergray:#C7C8CC;

$raisingblack:#221D23;
$nickel:#726F73;
$silvechalice:#AEACAF;

$goldshadow:#FFE866;


// Fonts

$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

$regular:400;
$bold: 700;

$font-xxxxx-large: 50px;
$font-xxxx-large:45px;
$font-xxx-large:40px;
$font-xx-large:35px;
$font-x-large:30px;
$font-large:20px;
$font-medium:16px;
$font-small:14px;
$font-x-small:12px;